@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  
  --color-coffee-50: #fdfbf7;
  --color-coffee-100: #f7f3eb;
  --color-coffee-200: #efe5d5;
  --color-coffee-300: #e0cca7;
  --color-coffee-400: #d2b07d;
  --color-coffee-500: #c69458;
  --color-coffee-600: #b97a42;
  --color-coffee-700: #9a6036;
  --color-coffee-800: #7e4e31;
  --color-coffee-900: #66402b;
  --color-coffee-950: #362015;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-coffee-50);
  color: var(--color-coffee-950);
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
